# General
.DS_Store
.env

# Node
node_modules/
**/node_modules/

# Builds / output
packages/*/dist/
**/dist/
Editor/dist/

# TypeScript build artifacts
*.d.ts
*.js.map

# Vite / React build
Editor/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
Thumbs.db
